*~
*#
*.swp

#files created during build process
Pipfile.lock

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

/.coverage
/.coverage.*
/.cache

/doc/_autosummary/
/build
/dist

/tests/integration_tests/test_constants.py
/tests/*