[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"boto3" = "*"
awscli = "*"
jsonschema = "*"
jsonref = "*"
botocore = "*"
aws-xray-sdk = "*"
setuptools = ">=40.5.0"

[dev-packages]
cfn-lint = "*"
"autopep8" = "*"
pytest = "*"
mock = "*"
pytest-mock = "*"
aws-sam-cli = "*"
pylint = "<2.0.0"

[requires]
python_version = "3.6"
